services:
    mlflow:
        image: ghcr.io/mlflow/mlflow:v2.10.0
        command: mlflow ui --host 0.0.0.0 --port 5000
        ports:
            - "5001:5001"

    backend:
        build:
            context: ..
            dockerfile: docker/backend.Dockerfile
        environment:
            - MODEL_PATH=/app/models/latest_model.keras
        ports:
            - "8000:8000"
        depends_on:
            - mlflow

    frontend:
        build:
            context: ..
            dockerfile: docker/frontend.Dockerfile
        environment:
            - API_URL=http://backend:8000
        ports:
            - "8501:8501"
        depends_on:
            - backend
